@charset "UTF-8";

body {
    background-color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    color: rgb(58, 0, 100);
    background-color: aliceblue;
}

h2 {
    color: rgb(80, 0, 0);
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align:justify
    
}